@font-face {
	font-family: 'Samim';
	src: local('Samim'), url('assets/fonts/Samim.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fff;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
